<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylescurrent.css">
  <title>Home</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="/agent" class="agents">Agents</a></li>
          <li><a href="/property-list" class="properties">List of Properties</a></li>
          <li><a href="/currentcustomers" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
      </div>
    
      <div class="current-list">
        <% results.forEach((customer)=> { %>
       
        <div class="current-item">
          <div class="current-info">
            <span class="current-name">
              <%= customer.name %>
            </span>
            <span class="current-actions">
              <a href="/customer-properties/<%= customer.customer_id %>" class="ver">🔍</a>
              <a href="/editcustomer/<%= customer.customer_id %>" class="edit">Edit</a>
              <a href="/customer-delete/<%= customer.customer_id %>" class="delete-button">Delete</a>
            </span>
          </div>
        </div>
        
        <!-- Repeat the above structure for each client -->
      </div>
    
      <div class="add-current">
        <a href="/newcustomer" class="add-button">+</a>
      </div>

  
      <script src="/scripts/currentcustomers.js"></script>
  

</body>
</html>