<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylescurrent.css">
  <title>Home</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="/agent" class="agents">Agents</a></li>
          <li><a href="/property-list" class="properties">List of Properties</a></li>
          <li><a href="/customers" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
      </div>
    
      <div class="current-list">
        <div class="current-item">
          <div class="current-info">
            <span class="current-name">PEPITO PEREZ</span>
            <span class="current-actions">
              <a href="" class="ver">🔍</a>
              <a href="" class="edit">edit</a>
              <button class="">Delete</button>
            </span>
          </div>
        </div>
        <div class="current-item">
            <div class="current-info">
              <span class="current-name">JUAN ZAPATA</span>
              <span class="current-actions">
                <a href="" class="ver">🔍</a>
                <a href="" class="edit">edit</a>
                <button class="">Delete</button>
              </span>
            </div>
          </div>
          <div class="current-item">
            <div class="current-info">
              <span class="current-name">PEDRO SISAS</span>
              <span class="current-actions">
                <a href="" class="ver">🔍</a>
                <a href="" class="edit">edit</a>
                <button class="">Delete</button>
              </span>
            </div>
          </div>
        <!-- Repeat the above structure for each client -->
      </div>
    
      <div class="add-current">
        <a href="" class="add-button">+</a>
      </div>

  

  

</body>
</html>