<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylescustomer.css">
    <title>Customer List</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="#" class="agents">Agents</a></li>
          <li><a href="#" class="properties">List of Properties</a></li>
          <li><a href="#" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
    </div>
    <div class="customer-section">
        <h1>Select the type of client</h1>
    </div>
    <div class="customer-button">
        <div class="customer-button1">
            <h2>The company´s current customers</h2>
            <a href="">
                <img src="images/current.JPG" width="350px">
            </a>
        </div>
        <div class="customer-button2">
            <h2>Customer tracking</h2>
            <a href="">
                <img src="images/tracking.JPG" width="350px">
            </a>
        </div>
    </div>

    
</body>
</html>