<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles-customertracking.css">
  <title>Home</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="/agent" class="agents">Agents</a></li>
          <li><a href="/property-list" class="properties">List of Properties</a></li>
          <li><a href="#" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
      </div>
      <div class="tracking-tittles">
        <div class="tittle-name">
          <h1>Name</h1>
        </div>
        <div class="tittle-email">
          <h1>Email</h1>
        </div>
        <div class="tittle-cell">
          <h1>Cell Phone</h1>
        </div>
      </div>
    
      
        <div class="tracking-info">
          <a href="" class="ver">❌</a>
          <div class="info-name">
            Pepito Perez
          </div>
          <div class="info-email">
            pepitoperez@gmail.com
          </div>
          <div class="info-cell">
            3002381237
          </div>
        
        </div>
        
         <!-- Repeat the above structure for each client -->
         
         
      
      
    
      

  

  

</body>
</html>