<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Property</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-new-property.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <form action="/saveproperty" method="POST">
            <!-- Data of property table -->
            <label for="">Apartment information</label>
            <select name="property_type" id="property_type" required>
                <option value="" disabled selected>Select the type of property</option>
                <option value="Apartment">Apartment</option>
                <option value="House">House</option>
            </select>
            <select name="property_bussines_type" id="property_bussines_type" required>
                <option value="" disabled selected>Select the state of the property</option>
                <option value="Sale">Sale</option>
                <option value="Sold">Sold</option>
                <option value="Lease">Lease</option>
                <option value="Leased">Leased</option>
            </select>
            <input type="text" name="address" id="address" required placeholder="Address">
            <input type="number" name="price" id="price" min="0" required placeholder="Price">
            <input type="number" name="rooms" id="rooms" min="0" required placeholder="Rooms">
            <input type="number" name="bathrooms" id="bathrooms" min="0" required placeholder="Bathrooms">
            <select name="green_zone" id="green_zone" required>
                <option value="" disabled selected>Select if the property have a green zone</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <input type="number" name="meters" id="meters" min="0" required placeholder="Meters">
            <select name="agent_name" id="agent_name" required>
                <option value="" disabled selected>Select the agent</option>
                <% results.forEach((agent)=> {%>
                    <option><%= agent.name%></option>
                    <% }); %>
            </select>

            <!-- <label for="">History of apartment (Optional)</label>
            <select name="rol" id="rol">
                <option value="Owner">Owner</option>
                <option value="Tenant">Tenant</option>
            </select>
            <input type="number" name="cost" id="cost" min="0"  required placeholder="Sell Price">
            <input type="date" name="date" id="date" required placeholder="Date of the Last Lease or Sale">-->
            <button class="button" type="submit">Guardar</button>
            <a href="/property-list" class="button-link">Cancel</a>
        </form>
    </div>
</body>

</html>