<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Property</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-new-property.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <form action="/saveproperty" method="POST">
            <input type="text" name="Property_ID" id="Property_ID" placeholder="Property ID">
            <input type="text" name="address" id="address" placeholder="Address">
            <select name="category_ID" id="category_ID">
                <option value="Sale">Sale</option>
                <option value="Lease">Lease</option>
            </select>
            <input type="text" name="Customer_name" id="Customer_name" placeholder="Customer Name">
            <input type="date" name="time" id="time" placeholder="time of property">
            <input type="text" name="Name_agent" id="Name_agent" placeholder="Agent Name">
            <input type="text" name="Owner_history" id="Owner_history" placeholder="Owner history">
            <button class="button" type="submit">Guardar</button>
            <a href="/property-list" class="button-link">Cancel</a>
        </form>
    </div>
</body>

</html>