<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles5.css">
  <title>Home</title>
</head>
<body>
    <div class="header">
        <ul class="nav-list">
          <li><a href="/home" class="home">Home</a></li>
          <li><a href="/agent" class="agents">Agents</a></li>
          <li><a href="/property-list" class="properties">List of Properties</a></li>
          <li><a href="/customers" class="customers">Customer List</a></li>
          <li><a href="#" class="profile">Profile</a></li>
        </ul>
      </div>

      <form action="/save" method="post">
        <div class="agent-form">
          <div class="top-row">
            <div class="input-container">
              <input type="text" id="NAME" name="NAME" required placeholder="NAME">
            </div>
            <div class="input-container">
              <input type="text" id="EMAIL" name="EMAIL" required placeholder="E-MAIL">
            </div>
            <div class="input-container">
              <input type="text" id="ROL" name="ROL" required placeholder="ROL">
            </div>
          </div>
      
          <div class="middle-row">

            <div class="input-container">
              <input type="text" id="DNI" name="DNI" required placeholder="DNI">
            </div>
            
          </div>
      
          <div class="bottom-row">
            <div class="file-input-container">
              <label for="file-upload">AGENT PHOTO:</label>
              <div class="file-upload-wrapper">
                <input type="file" id="file-upload" name="file-upload">
                <img src="/folder.png" alt="Folder Icon">
              </div>
            </div>          
          </div>
      
          <div class="submit-button-container">
            <button type="submit" class="submit-button" tabindex="5">add</button>
          </div>
        </div>
      </form>
      
      
    
    </body>
    </html>
