<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPERTY ASSIGNMENT</title>
    <link rel="stylesheet" href="/styles-property-assingment.css">
    <link rel="stylesheet" href="/styles-header.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="center">
        <input type="text" name="code" id="" placeholder="PROPERTY CODE TO BE ASSIGNEED">
        <h4>TYPE OF ACTION</h4>
        <select name="type" id="">
            <option value="" disabled selected>SELECT</option>
            <option value="1">SALE</option>
            <option value="2">LEASES</option>
        </select>
        <br>
        <Input type="submit" value="SAVE" id="submit"></Input>
    </div>
</body>
</html>