<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPERTY DETAILS</title>
    <link rel="stylesheet" href="/styles-property-details.css">
    <link rel="stylesheet" href="/styles-header.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="#" class="agents">Agents</a></li>
                <li><a href="#" class="properties">List of Properties</a></li>
                <li><a href="#" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="left">
            <h4>DETAILS</h4>
            <div class="container">
                <ul class="dList">
                    <li>
                        <a>AGE OF THE PROPERTY IN THE COMPANY: </a>
                        <a>2 YEARS</a>
                    </li>
                    <li>
                        <a>FORMER TENANTS</a>
                        <button class="btnSee">SEE</button>
                    </li>
                    <li>
                        <p>LOCATED NEAR THE TOWN PARK</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h4>INFORMATION</h4>
            <div class="container">
                <div class="left">
                    <ul class="dList">
                        <li><p>ROOMS</p></li>
                        <li><p>BATHROOMS</p></li>
                        <li><p>SWIMMING POOL</p></li>
                        <li><p>GREEN ZONE</p></li>
                        <li><p>METERS</p></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="dList">
                        <li><p>5</p></li>
                        <li><p>4</p></li>
                        <li><p>2</p></li>
                        <li><p>YES</p></li>
                        <li><p>160MTS</p></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>

</html>