<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property list</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-property-list.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="left">
            <h4>PROPERTY CODE</h4>
            <input type="text">
        </div>
        <div class="right">
            <h4>ACTIONS</h4>
        </div>
    </div>
    <div class="container">

        <div class="left">
            <ul class="lista">
                <% results.forEach((property)=> { %>
                    <li>
                        <p>
                            <%= property.address %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="right">
            <ul class="lista buttons">
                <% results.forEach((property)=> { %>
                    <li><img src="" alt="">
                        <a href="/" class="ver">🔍</a>
                        <button class="btnEdit">Edit</button>
                        <button class="btnDelete">Delete</button>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>
    <div class="btnAdd">
        <a href="/new-property">
            <button class="addProperty">+</button>
        </a>
        <label for="">ADD A NEW PROPERTY</label>
    </div>
</body>

</html>