<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nexus Inmobiliario</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-view-property.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="/customers" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="left-img">
            <img src="/imagen-1.jpg" alt="Imagen 1 de la propiedad">
        </div>
        <div class="right-img">
            <a href="">
                <button class="boton-atras">&lt;</button>
            </a>
            <h4>FURNISHED APARTMENT THE TOWN SECTOR</h4>
            <P>$15.000.000</P>
            <a href="/property-details" class="button-link">
                <button class="button-red">SEE DETAILS</button>
            </a>
            <br>
            <a href="/agents-properties" class="button-link">
                <button class="button-red">AGENT IN CHARGE</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="left-img">
            <img src="/imangen-2.jpg" alt="Imagen 2 de la propiedad">
        </div>
        <div class="right-img">
            <img src="/imagen-3.jpg" alt="Imagen 3 de la propiedad">
        </div>
    </div>

</body>

</html>