<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nexus Inmobiliario</title>
    <link rel="stylesheet" href="/styles-header.css">
    <link rel="stylesheet" href="/styles-view-property.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/home" class="home">Home</a></li>
                <li><a href="/agent" class="agents">Agents</a></li>
                <li><a href="/property-list" class="properties">List of Properties</a></li>
                <li><a href="#" class="customers">Customer List</a></li>
                <li><a href="#" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <p>Aqui ira el slide de imagenes</p>
    <div class="carrusel center">
        <div class="imagen">
            <img src="imagen1.jpg" alt="Imagen 1">
        </div>
        <div class="imagen">
            <img src="imagen2.jpg" alt="Imagen 2">
        </div>
        <!-- Agrega más imágenes según sea necesario -->
    </div>
    <div class="center">
        <button class="anterior">Anterior</button>
        <button class="siguiente">Siguiente</button>
    </div>
    <div class="button-center">
        <a href="/property-details" class="button-link">
            <button class="button-red">SEE DETAILS</button>
        </a>
        <a href="/agents-properties" class="button-link">
            <button class="button-red">AGENT IN CHARGE</button>
        </a>
    </div>

    <script src="slider.js"></script>

</body>

</html>