.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(85, 85, 34);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
}

.form-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #a29a91;
  color: #3e3e3e;
  font-weight: bold;
  text-align: center;
}

.form-container input::placeholder {
  color: #d7d7d7a8;
  /* Cambia el color del placeholder*/
  text-align: center;
}

.form-container select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #a29a91;
  color: black;
  font-weight: bold;
  text-align: center;
}

.button-link {
  width: 35%;
  margin: 15px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #a20f31;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #b3405b;
}