.container-flex a{
    text-decoration: none;
    color: #fff;
}

.items{
    font-size: 20px;
}

.ver{
    font-size: 35px;
}

.btn-red{
    width: 20%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    text-align: center;
    padding: 14px 2px;
    border-radius: 40px;
    display: inline-block;
    background-color: #a20f31;
}

.btn-delete{
    width: 30%;
    height: 52px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    border-width: 5px;
    border-radius: 40px;
    border-style: solid;
    text-decoration: none;
    border-color: #90885f;
    background-color: #fff;
}

.add-property{
    bottom: 7px;
    height: 60px;
    border: none;
    font-size: x-large;
    font-style: italic;
    border-radius: 40px;
    text-decoration: none;
    background-color: #a20f31;
}

.add-position{
    position: fixed;
    bottom: 20px;
    left: 20px;
}