body {
    background-color: rgb(136, 130, 130);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #8b0000;
    color: white;
    padding: 0px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 100%; 
  }
  
  .nav-list li {
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    text-align: center;
  }
  
  .nav-list a {
    display: block;
    text-decoration: none;
    color: beige;
    padding: 20px; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-list a:hover {
    background-color: #bc3636; 
    color: #8b0000;
  }
  
  .nav-list .home {
    background-color: #8b0000; 
    color: white;
  }
  
  .nav-list .agents {
    background-color: rgb(123, 123, 87); 
    color: white;
  }
  
  .nav-list .properties {
    background-color: #8b0000; 
    color: white;
  }
  
  .nav-list .customers {
    background-color: rgb(123, 123, 87); 
    color: white;
  }
  
  .nav-list .profile {
    background-color: #8b0000; 
    color: white;
  }

  .agent-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .top-row, .middle-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .input-container, .file-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px; 
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #777;
  }
  
  button.submit-button {
    padding: 10px 20px;
    background-color: #bc3636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
  }
  
  img[src="/folder.png"] {
    max-width: 20px;
    margin-left: 5px;
  }

  .file-upload-wrapper {
    display: flex;
    align-items: center;
  }
  
  .file-upload-wrapper img {
    max-width: 70px;
    margin-left: 5px;
  }
  
  