body {
    background-color: rgb(136, 130, 130);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #8b0000;
    color: white;
    padding: 0px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 100%; 
  }
  
  .nav-list li {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .nav-list a {
    display: block;
    text-decoration: none;
    color: beige;
    padding: 20px; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-list a:hover {
    background-color: #bc3636;
    color: #8b0000;
  }
  
  .nav-list .home {
    background-color: #8b0000; 
    color: white;
  }
  
  .nav-list .agents {
    background-color: rgb(123, 123, 87); 
    color: white;
  }
  
  .nav-list .properties {
    background-color: #8b0000; 
    color: white;
  }
  
  .nav-list .customers {
    background-color: rgb(123, 123, 87); 
    color: white;
  }
  
  .nav-list .profile {
    background-color: #8b0000; 
    color: white;
  }

  .welcome-section {
    text-align: center;
    margin-top: 100px;
  }
  
  .welcome-section h1 {
    font-size: 36px;
  }
  
  .welcome-section p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .welcome-section img {
    max-width: 100%;
    margin-top: 20px;
  }
  